.u-section-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-1 .u-image-1 {
  width: 491px;
  height: 308px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  width: 907px;
  margin: 23px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 214px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -54px auto 0;
  padding: 22px 392px 22px 390px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: 4px auto 19px;
}